
.header {
}

.content {

}

.subtitle{
    margin: 15px;
}

.category {
    font-style: italic;
    font-weight: lighter;
}

.stat-bar-title {
    font-style: italic;
    font-size: 12px;
}


body {
    width: 600px;
    height: 600px;
    overflow: hidden;
}

ul {
    list-style: none;
}

/*
div.line {
    position: relative;
    text-align: center;
    width: 100%
}
span.left {
    position: absolute;
    left: 0;
}
span.right {
    position: absolute;
    right: 0;
}


 */